.maincontainer {
  display: flex;
  justify-content: center;
  margin-top:20%;
  align-items: center;
  position: absolute;
  margin-left: 42%;
 
}

.container{
    display: flex;
   /* justify-content: space-around;
   align-items: space-around; */
    background-color:#fff ;
    flex-direction: column;
    justify-content: center;
    width:20vw;
    border-radius: 10.9px;
    border: solid 1px #cf3636;
    flex-grow: 0;
  margin: 10px 0 0;
  padding: 17px 6.7px 17px 6.7px;

 
    
}
.text{
    font-family: NotoSans-Display;
    font-size: 0.9rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
   padding: 2%;
    
}
.logout{
    font-size: 1rem,;
    margin: 2.5%;
    padding: 2.5%;
    padding: 17px 6.7px 17px 6.7px;
    border-radius: 12px;

  background-color: #17a2b8;
  color:#fff

 
}
.cancel{
    font-size: 1rem;
    margin: 2.3%;
    padding: 2.3%;
    flex-grow: 0;

    padding: 17px 6.7px 17px 6.7px;
    border-radius: 12px;
    border: solid 1px #cf3636;
    background-color: #fff;

  color: #cf3636;
  
}

